name: build deno 1.36 android binding

on:
  push:
    branches: ["master"]

jobs:
  # build deno 1.36 for `aarch64-linux-android`
  build_android:
    runs-on: ubuntu-latest

    steps:
    - uses: docker/setup-qemu-action@v2
      with:
        platforms: arm64
    # setup QEMU aarch64 for termux-docker
    - run: docker run --rm --privileged aptman/qus -s -- -p aarch64 arm
    - uses: actions/checkout@v4
    - run: git submodule update --init --recursive
    # download `librusty_v8.a` for `lib_v8`
    - uses: robinraju/release-downloader@v1
      with:
        repository: "fm-elpac/v8-src"
        tag: "rusty_v8-0.75.0"
        fileName: "v0.75.0-librusty_v8_release_aarch64-linux-android.a.zst"
    - run: mv v0.75.0-librusty_v8_release_aarch64-linux-android.a.zst librusty_v8_release_aarch64-linux-android.a.zst
    - run: zstd -d librusty_v8_release_aarch64-linux-android.a.zst

    - uses: robinraju/release-downloader@v1
      with:
        repository: "denoland/rusty_v8"
        tag: "v0.75.0"
        fileName: "librusty_v8_release_x86_64-unknown-linux-gnu.a"
    
    - run: echo "ANDROID_NDK=$ANDROID_NDK_HOME" >> $GITHUB_ENV
    - run: $ANDROID_NDK/build/tools/make_standalone_toolchain.py --api 26 --arch arm64 --install-dir NDK/arm64

    - run: echo "CMAKE_CXX_COMPILER=aarch64-linux-gnu-g++" >> $GITHUB_ENV
    - run: echo "CMAKE_C_COMPILER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
    - run: echo "CMAKE_ASM_COMPILER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
    - run: echo "CMAKE_TOOLCHAIN_FILE=/usr/local/lib/android/sdk/ndk/26.2.11394342/build/cmake/android-legacy.toolchain.cmake" >> $GITHUB_ENV


    - run: cargo install cargo-ndk
    - run: rustup target add aarch64-linux-android
    - run: echo "RUSTY_V8_ARCHIVE=/home/runner/work/deno_android_binding/deno_android_binding/librusty_v8_release_aarch64-linux-android.a" >> $GITHUB_ENV

    - run: echo "PATH=/home/runner/work/deno_android_binding/deno_android_binding/NDK/arm64/bin/:$PATH" >> $GITHUB_ENV

    # show build env
    - run: env
    # build `libary`
    - run: ls -ltr
    - run: pwd
    - run: cargo ndk --platform 26 --target aarch64-linux-android build --release

    # upload libary
    - uses: actions/upload-artifact@v3
      with:
        name: deno-binding-1.36.2_aarch64-linux-android
        path: ../target/aarch64-linux-android/release/deno.so
